.my-specialities{
    margin-top: 100px;
    padding: 20px;
    h1{
        margin-bottom: 20px;
    }
    .specialities-container{
        gap: 15px;
    }
    .specialities-card{
        flex: 1 1 300px;
        gap: 10px;
        min-height: rem(350px);
        box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
        padding: 1.6rem 4.3rem 2.2rem 3.5rem;
        border-radius: 8px;
        border-bottom: 10px solid $clr6 ;
        margin-bottom: rem(20px);
        cursor: pointer;
        h3{
            font-size: 1.4rem;
            margin-bottom: 10px;
            font-weight: 600;
        }
        .text-primary{
            color:$clr6;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
        }
    }
    .specialities-card:hover{
        background-color: $clr6;
        color: #222;
    }

}