.my-specialities{
    margin-top: 100px;
    padding: 20px;
    h1{
        margin-bottom: 20px;
        font-weight: 600;
    }
    .specialities-container{
        gap: 15px;
    }
    .specialities-card{
        flex: 1 1 300px;
        gap: 10px;
        min-height: 400px;
        box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
        padding: 1rem 3rem 2rem 3rem;
        border-radius: 8px;
        border-bottom: 10px solid $clr7 ;
        margin-bottom: rem(20px);
        h3{
            font-size: 1.4rem;
            margin-bottom: 10px;
            font-weight: 600;
        }
        .text-primary{
            color:$clr7;
        }
        p{
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
    .specialities-card:hover{
        background-color: $clr7;
        color: #222;
    }

}