.App {
  @include for-mobile-layout {
    padding: 20px
  }

  position: relative;
  padding: 40px 80px;
  color: #fff;
  background: radial-gradient(circle, #212121 0%, #1d1d1d 56%, #1d1d1d 100%);
}

.main-app {
  gap: 20px;
}
.hero-img{
  background-size: cover;
  left: 0;
  top:0;
  width: 100%;
  background-position: 50% 100%;
  position: absolute;
  height: 85vh;
  @include for-mobile-layout {
    height: 90vh !important;
  }
}

.nav {
  @include for-mobile-layout {
    padding: 0;
    button{
      font-size: 1rem !important;

    }
  }
  padding: 0 10px;
  height: 80px;
  margin-bottom: 20px;
  z-index: 20;
  position: relative;

  button {
    font-size: 1.2rem;
    background: transparent;
    color: inherit;
    border: unset;
  }

  button:hover {
    cursor: pointer;
    color: $clr6;
  }

  img {
    @include for-mobile-layout {
      width: rem(100px);
    }
    height: 100%;
    width: rem(150px);
  }
}

.hero {
  min-height: 60vh;
  padding: 20px;
  gap: 20px;
  justify-content: space-around;
  .profile-container {
    margin-top:rem(30px);
    img {
      @include for-mobile-layout {
       top: 20px;
       right: 5px;
       position: absolute;
      }
      @include for-wide-layout {
       top: 20px;
       right: 5px;
       position: absolute;
       width: rem(150px);
       height: rem(150px);
      }
      width: rem(200px);
      height: rem(200px);
      object-fit: cover;
      border-radius: 50%;
      z-index: 20;
      position: relative;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    img:hover {
      transform: rotate(360deg);
      transition: transform 1s;
    }
  }

  .hero-name {
    font-size: 2.5rem;
    width: 60%;
  }

  .info {
    font-size: 1.5rem;
    gap: 5px;
    transition: text-shadow .1s;
    padding-top: rem(50px);

    img {
      margin-top: rem(20px);
      width: rem(200px);
      height: rem(200px);
    }

    span {
      font-size: 2.5rem;
    }
  }

  .info:hover {
    text-shadow: red -2px 0, cyan 2px 0;
  }

  button {
    margin-top: 15px;
    width: 130px;
    height: 40px;
    border-radius: 32px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background-color: $clr6;
    color: #222;
  }
  .btn:hover {
    box-shadow:  2px 5px 12px 0px #0B325E, -3px 12px 11px 10px rgba(0,0,0,0.6);
    -webkit-transition: all 1s ease-in;
    transition: all .2s ease-in;
    transform: translateY(-6px);
  }

}

.user-container {
  background-color: $clr7;

  height: 80vh;
  display: flex;
  flex-direction: column;

  color: $clr5;

  &.flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .movement-container {
    margin: 2rem;

    h2 {
      text-align: center;
    }
  }
}