.App{
  @include for-mobile-layout {
    padding: 20px
  }
position: relative;
  padding: 40px 80px;
  color: #fff;
  background: radial-gradient(circle,#212121 0%,#1d1d1d 56%,#1d1d1d 100%);
}
.main-app{
  gap: 20px;
}

.nav{
  padding: 0 10px;
  height: 80px;
  margin-bottom: 20px;
  background-color: #212121b3;
  .nav-feature{
    gap: 10px;
  }
  button{
    font-size: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    background: transparent;
    color: inherit;
    border: unset;
  }
  button:hover{
    cursor: pointer;
    color:$clr6;
  }
  img{
    @include for-mobile-layout {
      width: rem(100px);
    }
    height: 100%;
    width: rem(150px);
  }

}
.hero{
  height: 70vh;
  padding-top: 50px;
  gap: 20px;
  img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    z-index: 20;
    position: relative;
  }
  img:hover{
    transform: rotate(360deg);
    transition: transform 1s;
  }
  .info{
    font-size: 1.2rem;
    gap: 5px;
    transition: text-shadow .1s;
    span{
      font-size: 2rem;
    }
  }
  .info:hover{
    text-shadow: red -2px 0 , cyan 2px 0;
  }
  .back-profile-continer{
    position: relative;
  }
  .back-profile{
    height: rem(200px);
    position: absolute;
    width:rem(200px);
  }
  button{
    margin-top: 15px;
    width: 130px;
    height: 40px;
    border-radius: 32px;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    color: #fff;

  }
  button:hover{
    background-color:$clr6;
    color: #222;

  }
}
.user-container {
  background-color: $clr7;

  height: 80vh;
  display: flex;
  flex-direction: column;

  color: $clr5;
  &.flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .movement-container{
    margin: 2rem;
    h2{
    text-align: center;
    }
  }
}



