// Colors
$clr1: #00ffbb;
$clr2: #293241;
$clr3: #f3f7fc;
$clr4: #696969;
$clr5: #393c3f;
$clr6: #00d8ff;
$clr7: #006fbf;
$clr8: #ff7b00;
$clr9: #282828;
$clr10: #7c9ac8;

$navHeight: 65px;

// Breakpoints
$small-breakpoint: 400px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
