// Colors
$clr1: #00ffbb;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #1b242f;
$clr6: #00d8ff;


$clr7: #006fbf;
$clr8: #ff7b00;

$navHeight: 65px;

// Breakpoints
$small-breakpoint: 400px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
